<%= javascript_pack_tag 'matches' %>
<div class="container">
  <%= bootstrap_form_for(@match, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
    <% if @match.errors.any? %>
      <div id="error_explanation">
        <strong>
          <%= "#{pluralize(@match.errors.count, "error")} prohibited this block from being saved:" %>
        </strong>
        <ol>
          <% @match.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
    <%= f.select :player_one_id, @all_members, { wrapper: { class: 'has-warning' }, prompt: "Select a Player One" } %>
    <%= f.select :player_two_id, @all_members, { wrapper: { class: 'has-warning' }, prompt: "Select a Player Two" } %>
    <%= f.date_field :date %>

    <div id="outcome">
      <%= f.select :outcome, Match.outcomes.keys.to_a, { prompt: "Select a Outcome" } %>
    </div>
    <div id="outcome-members" >
      <div class="hidden-fields">
        <%= f.select :winner_id,  @all_members, { wrapper: { class: 'has-warning' }, prompt: "Select a Winner" } %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit class: 'btn btn-primary'%>
    </div>
  <% end %>
</div>