<div class="container mx-auto">
  <div class="leaderboard row">
    <div class="col-12 text-center">
      <h2>
        Matches
      </h2>

      <p>
        <%= link_to 'Create new match', new_match_path, class: 'm-3' %> | 
        <%= link_to 'Leaderboard', leaderboard_path, class: 'm-3' %>
      </p>
    </div>   
  </div>
  <div class="table-responsive row">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Player One</th>
          <th scope="col">Player Two</th>
          <th scope="col">Outcome</th>
          <th scope="col">Winner</th>
          <th scope="col">Loser</th>
        </tr>
      </thead>
      <tbody>
        <% @matches.each do |match| %>
          <tr>
            <th scope="row"><%= match.id %></th>
            <td><%= match.player_one %></td>
            <td><%= match.player_two %></td>
            <td><%= match.outcome.capitalize %></td>
            <td><%= match.winner %></td>
            <td><%= match.loser %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
