<div class="container">
  <%= bootstrap_form_for(@member, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
    <%= f.text_field :name %>
    <%= f.text_field :surname %>
    <%= f.email_field :email %>
    <%= f.date_field :birthday %>

    <div class="actions">
      <%= f.submit class: 'btn btn-primary'%>
    </div>
  <% end %>
</div>