<div class="container mx-auto">
  <div class="leaderboard row">
    <div class="col-12 text-center">
      <h2>
        Members
      </h2>

      <p>
        <%= link_to 'Create new member', new_member_path, class: 'm-3' %> | 
        <%= link_to 'Leaderboard', leaderboard_path, class: 'm-3' %>
      </p>
    </div>   
  </div>
  <div class="table-responsive row">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |member| %>
          <tr>
            <th scope="row"><%= member.current_rank %></th>
            <td><%= member.name %></td>
            <td><%= member.surname %></td>
            <td><%= link_to 'Show', member, class: 'm-3' %></td>
            <td><%= link_to 'Delete', member, method: :delete, data: { confirm: 'Are you sure?' }, class: 'm-3' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
